.image {
  perspective: 200px;
  transition: all .2s ease;  
  border-radius: 100%;
  height: 410px;
  width: 420px;
  background-size: cover;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.8);
}

.front {
  margin-right: 50px;
  background-image: url("../img/i1.jpg");
  z-index: 1;
}

.back {
  margin-left: 100px;
  margin-top: -240px;
  background-image: url("../img/i2.jpg");
  background-position: bottom;
}
