<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EMPRESA FUMIGADORA</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">
	<link rel="icon" type="image/png" href="{% static 'img/logoil.png' %}" />

    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Dancing+Script" rel="stylesheet">

	<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js">
	</script>
	<script src="{% static 'js/jquery.js'%} "></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
	<script src="{% static 'js/eventos.js' %}"></script>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	
</head>
<body background="{% static 'img/p2.jpg'%}">
	<audio id="musica" autoplay="true" hidden="true" loop="true">
	  <source src="{% static 'audio/mijares.mp3' %}">
	</audio>
	<div>	
		<div id="contenbarra" style="width:100%;display:inline-block;">
			<nav id="barra" class="navbar navbar-fixed-top" style="margin: 0">
		      <div class="container">
		        <div class="navbar-header">
		          <button id="btnExpandir" type="button" style="border:1px solid #eee;color:#eee;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		            <span class="sr-only">Toggle navigation</span>
		            <span style="border:1px solid #eee" class="icon-bar"></span>
		            <span style="border:1px solid #eee" class="icon-bar"></span>
		            <span style="border:1px solid #eee" class="icon-bar"></span>
		          </button>
		          <a class="navbar-brand" style="color:#eee;font-size:12pt;border-right: 1px solid #eee;" ><strong>LIMPIEZA Y FUMIGACIONES BRILLOS Y MÁS</strong></a>
		        </div>
		        <div id="navbar" class="collapse navbar-collapse">
		          <ul class="nav navbar-nav">
		            <li><a href="#bien"><strong>INICIO</strong></a></li>
		            <li><a href="#somos"><strong>QUIÉNES SOMOS</strong></a></li>
		            <li ><a href="#mision"><strong>MISIÓN</strong><span class="sr-only">(current)</span></a></li>			        
			        <li><a href="#vision"><strong>VISIÓN</strong></a></li>
			        <li><a href="#servicios"><strong>SERVICIOS</strong></a></li>
			        <li><a href="#trabajos"><strong>TRABAJOS</strong></a></li>
			        <li><a href="#clientes"><strong>CLIENTES</strong></a></li>
			        <li><a href="#personal"><strong>PERSONAL</strong></a></li>
			        <li><a href="#contactoe"><strong>CONTÁCTANOS</strong></a></li>
		          </ul>
		        </div>
		      </div>
			</nav>	
		</div>	
		

		<div id="bien">
			<div class="carta" style="background:#E5E2E2;padding:50px;border-radius:5px;margin-bottom:0;box-shadow: 1px 1px 20px rgba(0,0,0,.80)">
				<h2><strong>A Nuestros Clientes y Amigos</strong></h2>
					<div id="letracarta" style="font-size:16pt;text-align:justify">
						<p>En esos momentos cuando las cosas no van bien, Cuando no hay trabajo, pero hay un lugar al que hay que sostener, cuando el desánimo incontrolable, la tristeza y la impotencia te atrapa, Te refugias en Dios y le Cuestionas ¿Por qué a mí me pasan estas cosas? Y te aferras en Oración sosteniéndote de Dios, con lágrimas en tus ojos logras escuchar una voz que contesta a tu pregunta: Es porque te quiero, por eso es que estas aun aquí, porque tienes potencial y eres un ser sumamente extraordinario, con sueños, ideales y habilidades para lograrlo.</p>
						<p>Hola soy Klenier Gutiérrez y en las líneas que anteriormente escribí resumo lo que me motivo a emprender y lograr así alcanzar mi sueño.</p>
						<p>Es por eso que decidí ir por la ruta del emprendedor, decidí ser mi propio jefe, apostar por el desarrollo de mi país aportando un granito de arena a la economía.</p>
						<p>Decidí formar mi propia empresa, emprender un pequeño negocio y desde 1999 y con solo una bomba de mochila es como este sueño inicio, no fue fácil, pero con el apoyo de mi familia logre materializar un sueño que está dando un fruto.</p>
						<p>Fue un largo y duro camino hasta el año 2010 cuando fundamos una empresa con capital familiar, Limpieza y Fumigaciones Brillos y Más, ofreciendo servicios de primera, garantizando la satisfacción de nuestros clientes.</p>
						<p>En Limpieza y Fumigaciones Brillos y Más nos caracterizamos por responsabilidad, experiencia y mano de obra calificada.</p>
						<p>Hoy Agradecemos a nuestros clientes por preferir nuestros servicios y a la vez reiteramos nuestro compromiso para continuar mejorando día a día y ofrecerle calidad en cada uno de los servicios que brindamos</p>
						<p>Es un orgullo para nosotros el sentirnos parte de su familia.
						</p>
						<p>
					</div>
					<h3><strong>Atentamente</strong></h3>
					<span class="propietario">
						Klenier Emilio Gutiérrez<br>
						<em>Gerente General<br>
						Limpieza y Fumigaciones Brillos y Más.</em>	
					</span>					
				</p>
				</div>	
		</div>

		<div id="somos">
			<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">		
			  <div class="overlay"></div>
		
			  <ol class="carousel-indicators">
			    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
			    <li data-target="#bs-carousel" data-slide-to="1"></li>
			    <li data-target="#bs-carousel" data-slide-to="2"></li>
			  </ol>		  
		
			  <div class="carousel-inner">
				<div class="item slides active">
			      <div class="slide-1"></div>
			      <div class="hero">
			        <hgroup class="letras" style="font-size: 15pt;">
			            <h1 style="color:#0C186E;">Fumigadora y Limpieza</h1>
			            <h1 style="color:#0C186E">Brillos y Más</h1>       
			            <h2 style="font-size: 16pt;color:#0C186E">¡Lo mejor de la zona sur!</h2>
			        </hgroup>
			      </div>
			    </div>
		
			    <div class="item slides">
			      <div class="slide-2"></div>
			      <div class="hero">        
			        <hgroup class="letras" style="font-size: 15pt;">
			            <h1>Los mejores servicios</h1>  
			            <h1>que podrás tener</h1>      
			            <h2 style="font-size: 16pt;">¡Sólo en nuestra empresa!</h2>
			        </hgroup>       
			      </div>
			    </div>
		
			    <div class="item slides">
			      <div class="slide-3"></div>
			      <div class="hero">        
			        <hgroup class="letras" style="font-size: 15pt;">
			            <h1>Contáctanos</h1>        
			            <h2 style="font-size: 16pt">Estamos ubicados en Barrio El Estadio,</h2>
			            <h2 style="font-size: 16pt">de la ENEE una cuadra al sur, </h2>
			            <h2 style="font-size: 16pt">y tres cuadras al oeste</h2>
			        </hgroup>
			      </div>
				</div>
			  </div>
			</div>
		
			<article id="textosomos" class="jumbotron text-center" style="opacity:0.8;margin-bottom:0">
				<section style="width:87%;display: inline-block;text-align: center;vertical-align: top;font-family: 'Dosis';color:#047311;padding: 20px;background:#E4E4E4">
					<strong><h1>¿QUIÉNES SOMOS?</h1></strong>
					<br>
					{% for s in somos %}
					<div id="ts" style="font-size: 26pt;text-align: justify">
						<h2>{{s.texto}}</h2>
					</div>
						
					{% endfor %}
				</section>	
				<br>
			</article>
		</div>

		<div id="mision" style="margin-top: 0;margin-bottom:0;opacity:0.9;width:100%;display: inline-block;vertical-align: top;padding-top: 20px;padding-bottom: 50px;">
			<center>
				<div class="col-md-1">
					
				</div>
				<div id="misionizquierda" class="col-md-5 jumbotron" style="opacity:0.85;display: inline-block;text-align: center;vertical-align: top;font-family: 'Dosis';color:#222;padding: 70px;padding-bottom: 100px;background:#DCDADA;border-radius:100%;box-shadow: 3px 3px 15px rgba(0,0,0,.80);">
				<strong><h1 id="titulomi" style="color:#0C2679;margin-bottom:15px">MISIÓN</h1></strong>
					{% for m in mision %}
					<div id="cuerpomi" style="font-size: 18pt;text-align: justify;margin-left: 5px;margin-bottom:40px;margin-top:50px">
						<section id="tm">{{m.texto}}</section>
					</div>						
					{% endfor %}
				</div>
				<div id="misionderecha" class="col-md-6" style="padding-top: 10px;opacity:0.9;text-align: center;display: inline-block;padding-left:60px">
					<center>
					<div class="side left"></div>
					<div class="side right"></div>
					<div class="wrapper">
					  <div class="front image"></div>
					  <div class="back image"></div>
					</div>
					</center>
				</div>
			</center>
		</div>

		<div id="vision" style="margin-top:0;margin-bottom: 0">
			<div style="padding-top:0;margin-bottom: 0">
				<div id="publicidad" class="col-md-6 jumbotron text-center" style="opacity:0.9;display: inline-block;vertical-align: top;margin-bottom:0;margin-top:0;font-family:'Dosis';color:#10791C;padding: 120px;height:500px;">
						<h1 class="jumbotron" style="border-radius: 10px;box-shadow: 2px 10px 15px rgba(0,0,0,.80);padding:25px">Eres nuestra prioridad</h1>
				</div>
				<div id="visionderecha" class="col-md-6 jumbotron text-center"  style="opacity:0.8;display: inline-block;vertical-align: top;margin-bottom:0;background:#E4E4E4;height:500px">
					<section style="width:75%;display: inline-block;text-align: center;vertical-align: top;font-family: 'Dosis';color:#222;margin-bottom:0;margin-top:0">
						<strong><h1 style="color:#047311" >VISIÓN</h1></strong>
						<br>
						{% for v in vision %}
							<div id="cuerpomi" style="font-size: 21pt;text-align: justify;">
								<section id="tv" >{{v.texto}}</section>
							</div>							
						{% endfor %}
						<br>
					</section>	
				</div>
			</div>
		</div>

		<div id="servicios" class="jumbotron text-center" style="margin-top: 0;margin-bottom:0;opacity:0.9;display: inline-block;vertical-align: top;padding-top: 30px;padding-bottom: 90px;font-family: 'Dosis';color:#eee;">
			<div style="padding: 80px">
				<h1>NUESTROS SERVICIOS</h1>
				<br><br><br>				
				{% for l in listado_servicios %}	
					<div id="filaser" class="col-sm-4 col-md-4" style="display: inline-block">
					    <div id="tras" class="thumbnail" style="padding:10px;padding-bottom: 40px">
					    	 <div id="tratext" class="caption" style="height:90px;font-size: 24pt;color:#132772">
					            <h3>{{l}}</h3>
					         </div>
					         <center>
					         	<a href="{{ l.imagen.url }}" target="_blank">
						    	  <div id="imgservi" style="display:inline-block">
						    	  	<img id="imgs" style="width:100%;height: 100%;box-shadow: 2px 4px 7px rgba(0,0,0,.85);border-radius:5px" src="{{ l.imagen.url }}" alt="">
						    	  </div>				          					         
						        </a>
					         </center>				    	
					    </div>
					</div>		
				{% endfor %}					
			</div>
		</div>

		<div id="trabajos" class="jumbotron text-center" style="margin-top: 0;margin-bottom:0;opacity:0.92;display: inline-block;vertical-align: top;padding-top: 30px;font-family: 'Dosis';color:#120742;">
			<div style="padding: 80px">
				<h1>TRABAJAMOS CON CALIDAD...</h1>
				<h2>Para brindarte un servicio impecable</h2>
				<br><br>
					{% load static %}
					{% regroup fotos by area as listado_areas %}
					<div>
						{% for area in listado_areas %}
							<div id="textfumi" style="font-size:32pt">
								<h2 ><strong>{{ area.grouper }}</strong></h2>
							</div>							
							<br>
							<div style="width:100%;display: inline-block;text-align:center">
								{% for foto in area.list %}
								  <div class="col-sm-6 col-md-4" style="display: inline-block">
								    <div id="tra" class="thumbnail" style="padding:20px">
								    	<a href="/media/{{foto.foto}}" target="_blank">
								          <img id="trai" src="/media/{{foto.foto}}" alt="">	         
								        </a>
								        <br>
								        <div class="caption">
								            <h4 style="height: 30px;font-size: 16pt">{{ foto.descripcion }}</h4>
								         </div>
								      </div>
								    </div>
								{% endfor %}
							</div>
						{% endfor %}		
					</div>							
			</div>
		</div>

		<div id="clientes" style="margin-top: 0;margin-bottom:0;opacity:0.9;width:100%;vertical-align: top;display:inline-block">
			<div>
				<div id="relaciones" class="col-md-6 jumbotron text-center" style="opacity:0.9;display: inline-block;vertical-align: top;margin-bottom:0;margin-top:0;font-family:'Dosis';color:#10791C;padding: 10px;padding-bottom: 11px;height:450px">
					<section style="width:85%;display: inline-block;text-align: center;vertical-align: top;font-family: 'Dosis';color:#222;margin-bottom:0;padding-top: 20px;">
						<div id="h1" style="color:#199013;font-size: 30pt">
							<h1>LAS RELACIONES SON IMPORTANTES ...</h1>
						</div>
						<div id="h2" style="font-size: 26pt;display:inline-block">
							<h2 >Brindamos satisfacción a </h2>
							<h2 style="color:#141E59"><strong> NUESTROS AMIGOS</strong></h2>
							<h2>a travéz de un trabajo impecable y dedicación, en lo que hacemos.</h2>
						</div>
						
					</section>	
				</div>
				<div id="clientepu" class="col-md-6 jumbotron text-center" style="opacity:0.9;display: inline-block;vertical-align: top;margin-bottom:0;margin-top:0;font-family:'Dosis';color:#0B0E49;padding: 120px;padding-bottom:0;height:450px">
						<h1 class="jumbotron" style="background:#E5E2E2;border-radius: 10px;box-shadow: 2px 10px 15px rgba(0,0,0,.80);padding:25px">¡Gracias por preferirnos!</h1>
				</div>
			</div>		
		</div>

		<div id="clientesl" class="jumbotron text-center" style="margin-top: 0;margin-bottom:0;opacity:0.9;vertical-align: top;padding-bottom: 90px;font-family: 'Dosis';padding-left: 0;padding-top: 80px;display:inline-block">
			<div >
				<h1 style="color:#eee;text-align:center;">CLIENTES</h1>
				<br><br>	
				<center>	
					<div id="cont" class="text-center jumbotron" style="width:90%;opacity:0.85;vertical-align: top;padding-top:50px;padding-bottom: 20px;margin-top:0;color:#0A1A61;font-family: 'Dosis';background:#E4E4E4;margin-bottom:0;border-radius:15px;height:600px;padding-left:45px">
						
						{% for l in listado_clientes %}						
							<div id="nombrecliente" class="col-md-4 border rounded-top text-justify">
								<div id="imno" style="color:#222">	
									<div id="imnoimg" style="width:25px;display:inline-block;padding-bottom: 20px;margin-right: 4px">
										<img style="width:100%;"src="{% static 'img/check.png' %}" alt=""> 
									</div>										
									<div style="height:100px;display:inline-block;font-size: 17pt">
										<h3><strong>{{ l }}</strong></h3>
									</div>	
								   	      
							   	</div>
							</div>						
						{% endfor %}
					</div>
				</center>
			</div>
				<br><br>
			

			
					<div class="col-md-2" id="empresas">
						<img style="width:100%" class="logo" src="{% static 'img/unimall.png' %}" alt="">
					</div>
					<div class="col-md-2" id="empresas">
						<img style="width:100%" class="logo1" src="{% static 'img/unicines.jpg' %}" alt="">
					</div>
					<div class="col-md-2" id="empresas">
						<img style="width:100%" class="logo" src="{% static 'img/uniplaza.jpg' %}" alt="">
					</div>
					<div class="col-md-2" id="empresas">
						<img style="width:100%" class="logo1" src="{% static 'img/pizza.jpeg' %}" alt="">
					</div>
					<div class="col-md-2" id="empresas">
						<img style="width:100%" class="logo" src="{% static 'img/intrefica.jpg' %}" alt="">
					</div>
					<div class="col-md-2" id="empresas">
						<img style="width:100%" class="logo1" src="{% static 'img/kfc.jpg' %}" alt="">
					</div>		
		
		</div>


		<div id="personal" style="margin-top: 0;margin-bottom:0;opacity:0.9;vertical-align: top;">
			<div>
				<div class="col-md-12 jumbotron text-center" style="padding-bottom:0;margin-bottom:0">
					<h1 style="color:#047311" >PERSONAL Y EQUIPOS</h1>
					<br><br>

					<div id="personaliz" class="col-md-7 jumbotron text-center" style="display: inline-block;vertical-align: top;margin-bottom:0;margin-top:0;font-family:'Dosis';color:#10791C;padding: 60px;padding-top:10px;">
					<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
						  <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner">
						    <div class="item active">
						    	<img  src="{% static 'img/familia.png' %}" alt="">
						       <div class="carousel-caption">
							        <h3>NUESTRA FAMILIA</h3>
							        <h4>¡Para brindarte un buen servicio!</h4>
						       </div>
						    </div>
			
						    <div class="item">
						      <img src="{% static 'img/p73.png' %}" alt="">
						      <div class="carousel-caption">
							        <h3>LIMPIEZA TOTAL</h3>
							        <h4>Oficinas, Residencias y Otros</h4>
						       </div>
						    </div>
			
						    <div class="item">
						      <img src="{% static 'img/p44.png' %}" alt="">
						       <div class="carousel-caption">
							        <h3>PERSONAL CALIFICADO</h3>
							        <h4>¡En lo que tú desees!</h4>
						       </div>
						    </div>
						    <div class="item">
						      <img src="{% static 'img/p6.jpg' %}" alt="">
						      <div class="carousel-caption">
							        <h3>DISGRUTAMOS LO QUE HACEMOS</h3>
							        <h4>Llevamos la satisfacción a tu rostro</h4>
						       </div>
						    </div>
						    <div class="item">
						      <img src="{% static 'img/capa.jpg' %}" alt="">
						      <div class="carousel-caption">
							        <h3>CAPACITACIÓN DE PERSONAL</h3>
							        <h4>¡Para ofrecerte lo mejor¡</h4>
						       </div>
						    </div>
						    <div class="item">
						      <img src="{% static 'img/equipo.jpg' %}" alt="">
						      <div class="carousel-caption">
							        <h3>EQUIPO DE PRIMERA</h3>
							        <h4>¡Nuestro objetivo es tu bienestar¡</h4>
						       </div>
						    </div>
						  </div>
						  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#myCarousel" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
		
					<div id="personalde" class="col-md-5 jumbotron text-center" style="display: inline-block;vertical-align: top;margin-bottom:0;margin-top:0;font-family:'Dosis';color:#0B0E49;padding: 50px;padding-top:0;">
						<section id="textoem" style="display: inline-block;text-align: center;vertical-align: top;font-family: 'Dosis';color:#222;margin-bottom:0;text-align: justify;margin-top:0">
							<div style="color:#199013;font-size: 24pt;display:inline-block">
								<h2 >NUESTROS EMPLEADOS </h2>
							</div>
							<div style="font-size: 18pt;display:inline-block">
								<h3 >Están preparados para ofrecerte un servicio de calidad, cada uno, cuenta con las habilidades y valores que se necesitan para otorgarte los mejores resultados y que nuestra relación sea la mejor.</h3>
							</div>
							<hr>
							<div style="font-size: 24pt;color:#141E59;display:inline-block">
								<h2 >NUESTRO EQUIPO</h2>
							</div>
							<div style="font-size: 18pt;display:inline-block">
								<h3 >Contamos con una variedad de equipos, que son utilizados en cada uno de los servicios que ofrecemos. Entre ellos: Máquina Lavadora de pisos, Pulidora de pisos, Bombas Termo-nebulizadoras, etc.</h3>
							</div>							
						</section>	
					</div>
				</div>				
			</div>		
		</div>
		
		<div id="contactoe" class="text-center" style="margin-top: 0;margin-bottom:0;opacity:0.9;display: inline-block;vertical-align: top;font-family: 'Dosis';padding-top:0;padding-bottom: 0">
			<div style="margin-bottom:0;">
				<div id="forme"class="col-md-12 jumbotron text-center" style="padding-bottom:0;margin-bottom:0;color:#eee">
					<h1> <i style="margin-right: 10px"class="glyphicon glyphicon-envelope"></i> CONTÁCTANOS</h1>
					<h2>¡Déjanos tus datos y podrás solicitar nuestros servicios!</h2>
				</div>
				<div id="formd" class="col-md-6 text-center" style="display:inline-block;padding:4%;height:805px;color:#111154;box-sizing: border-box">
					<div id="ju" style="border-radius: 10px;background:#F5F5F5;height:90%;
					padding:10%">
						<h2><strong>FUMIGADORA Y LIMPIEZA</strong></h2>
						<h2><strong>BRILLOS Y MÁS</strong></h2>
						<div id="imagenlogo" style="width:90%;padding-left: 30px">
							<img id="logoco" style="width:100%;margin-bottom;0" src="{% static 'img/logoil.png' %}" alt="">
						</div>						
						<br><br><br>										
					
						<dl id="fd1" class="col-md-6" style="font-size: 14pt;text-align: justify;display:inline-block;vertical-align: top;padding-right: 10px;">
							<dt style="color:#141757">Ubicación:</dt>
							<dd><p>Estamos ubicados en Barrio El Estadio, de la ENEE, una cuadra al sur, y tres cuadras al oeste.</p></dd>
						</dl>
										
						<dl id="fd2"  class="col-md-6" style="font-size: 14pt;text-align: left;display:inline-block;" >
							<dt style="color:#141757">No. Teléfono Oficina: </dt>
							<dd>(504) 8846-4290</dd>
							<dt style="color:#141757">No. Teléfono Móvil: </dt>
							<dd>(504) 8965-7460</dd>
							<dt style="color:#141757">E-mail: </dt>
							<dd>kleguma@yahoo.com</dd>
						</dl>							
					</div>						
				</div>

				<div id="formc" class="col-md-6 text-center" style="margin-bottom:0px;height: 804px;color:#0A0F4B;height:805px;padding:4%;padding-bottom: 2%;display:inline-block;box-sizing: border-box">
					<div id="juc" style="border-radius: 10px;background:#F5F5F5;height:87%;
					padding:10%">					
							<h3 style="color: #CC8A16">CONTACTO</h3>
							<h5>¡Escríbenos y solicita nuestros servicios!</h5>
							<hr>
							<div id="dentroform" class="text-justify">
								<form style="width:100%" id="formContacto" action="{% url 'envio' %}" 
								method="post" accept-charset="utf-8">
									{% csrf_token %}
									{{contacto.as_p}}
									<br>
									<center>
										<div id="enviar">
											<input id="btn" class="btn btn-success btn-lg" type="submit" value="Enviar">
										</div>
									</center>														
								</form>
							</div>	
							<br>
							<strong><p id="mensaje"> </p></strong>					
					</div>
				</div>							
			</div>
		</div>			

	</div>
</body>
</html>