<div style="margin: 0 auto;background: #F2F2F2;width:80%;border-radius: 10px;
 box-shadow: 2px 4px 15px rgba(0,0,0,.80);text-align: justify;font-family: 'Tahoma';padding: 40px">
 	<div style="margin:70px">
 		<h1 style="text-align: center;font-size: 17pt;color:#0B1B5E">USTED HA RECIBIDO UN NUEVO MENSAJE</h1>
 		<hr>
		<dl style="font-size: 15pt">
			<dt style="color:#141757">Nombre:</dt>
			<dd>{{ nombre }}</dd>
			<dt style="color:#141757">Correo elecrónico:</dt>
			<dd>{{ correo }}</dd>
			<hr>	
			<dt style="color:#141757">Mensaje:</dt>
			<dd>{{ mensaje }}</dd>
		</dl>

		<!-- <h2 style="display: inline-block; color:#141757"><strong>De: </strong></h2>
		<h2 style="display: inline-block">{{nombre}}</h2><br> 
		
		<h2 style="display: inline-block; color:#141757"><strong>Correo electrónico: </strong></h2>
		<h2 style="display: inline-block">{{correo}}</h2><br>
		<hr>
		
		<h2 style="display: inline-block; color:#141757"><strong>Mensaje: </strong></h2>
		<h2 style="display: inline-block">{{mensaje}}</h2> -->
 	</div>	
</div>

	




