{% extends "base.html" %}

{% block titulo %}
	NUESTRA MISIÓN
{% endblock%}

{% block cuerpo %}
{% load static %}
	<div class="banner layout_fluid  bg_white">
	<div class="inner_banner layout_fluid_inner overcircle">
		<div class="clearfix slideshow">
			<div class="box box_hide"></div>
			
			<a href="/trabajos/imagen-corporativa/">
			<div class="box box1">
				<div class="box_inner">
					<span class="block">01.</span>
					<h3>Imagen  corporativa</h3>
				</div>
			</div>
			</a>
			
			<a href="/trabajos/web/">
			<div class="box box2">
				<div class="box_inner">
					<span class="block">02.</span>
					<h3>WEB</h3>
				</div>
			</div>
			</a>
			
			<a href="/trabajos/comunicacion-de-moda/">
			<div class="box box3">
				<div class="box_inner">
					<span class="block">03.</span>
					<h3>comunicación  de moda</h3>
				</div>
			</div>
			</a>
			
			<a href="/trabajos/packaging/">
			<div class="box box4">
				<div class="box_inner">
					<span class="block">04.</span>
					<h3>packaging</h3>
				</div>
			</div>
			</a>
			
			<a href="/trabajos/editorial/">
			<div class="box box5">
				<div class="box_inner">
					<span class="block">05.</span>
					<h3>editorial</h3>
				</div>
			</div>
			</a>
			
			<a href="/trabajos/redes-sociales/">
			<div class="box box6">
				<div class="box_inner">
					<span class="block">06.</span>
					<h3>Redes  Sociales</h3>
				</div>
			</div>
			</a>
			
			<a href="/trabajos/apps-dispositivos-moviles/">
			<div class="box box7">
				<div class="box_inner">
					<h3>Apps  Dispositivos  Moviles</h3>
				</div>
			</div>
			</a>
			
		</div>				
	</div>
</div>
	
{% endblock  %}